
.header {
    @extend %size;
    height: 350px;

    background-color: $bg;
}
.top__header {
    @extend %size;
    height: 2rem;
    background-color: #8A8585;

    .cv {
        padding-left: 1rem;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $primary;
    }
}
.header__content {
    @extend %size;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $secondary;

    .profile {
        line-height: .5;
    }

    .profile__name {
        font-family: $barlow;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $white;
    }
    .profile__description {
        font-family: $barlow;
        font-weight: 400;
        letter-spacing: 1.5px;
        font-size: 1.5rem;
        color: $secondary;
    }

    .profile__photo img {
        border-radius: 50%;
        box-shadow: 0px 0px 10px $white;
        opacity: .5;
    }
}